/* Importar tailwindcss */
@import "tailwindcss";

:root {
  --color-primary: #38C3C3;
  --color-secondary: #00A9A9;
  --color-accent: #006363;
  --color-background: #D8E5E5;
  --color-dark: #002020;
  --color-gray-200: #F3F4F6;
  --color-gray-300: #D1D5DB;
  --color-gray-700: #364153;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-background);
  color: var(--color-gray-700);
  font-size: 0.875rem; /* 14px */
  font-weight: 400;
  line-height: 1.6;
}

.span-italic span {
  font-style: italic;
  color: var(--color-accent);
}

input:focus, select:focus {
  outline: 1px solid var(--color-primary);
}

input, select {
  padding: 0.5rem;
  border: 1px solid var(--color-gray-300);
  border-radius: 0.375rem;
}

td {
  padding: 0.25rem 0 0.25rem 0.5rem;
  border-bottom: 1px solid var(--color-gray-200);
}