<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simulador de Amortización Hipotecaria</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="shortcut icon" href="/static/ico/house.ico" type="image/x-icon">
  </head>

  <body class="bg-gray-100 min-h-screen flex flex-col items-center justify-center">

    <main class="bg-white p-8 rounded-lg shadow-md w-full max-w-2xl">

      <div id="form-component" {% if tabla is not none %}style="display: none;" {% endif %}>
        {% include './components/form.html' %}
      </div>

      <div id="table-component" {% if tabla is none %}style="display: none;" {% endif %}>
        {% include './components/table.html' %}
      </div>
      
      <footer id="footer" class="mt-8 text-center text-gray-600">
        <p>© <span id="anio"></span> All right reserved. by <a href="http://github.com/zelys" target="_blank" rel="noopener noreferrer" class="hover:text-blue-700">Zelys</a>.</p>
      </footer>

    </main>
  </body>
  <script>
    let fecha = new Date();
    let opciones = {
      weekday: 'long',
      day: 'numeric',
      month: 'long',
      year: 'numeric',
    };

    let fechaFormateada = fecha.toLocaleDateString('es-ES', opciones).trim();
    fechaFormateada = fechaFormateada.charAt(0).toUpperCase() + fechaFormateada.slice(1);
    let anio = fecha.getFullYear();
    document.getElementById("anio").innerText = anio;
    document.getElementById("fechaFormateada").innerText = fechaFormateada;
  </script>
</html>


  