<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simulador de Amortización Hipotecaria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    <link rel="shortcut icon" href="/static/ico/house.ico" type="image/x-icon">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </head>

  <body class="bg-gray-100 min-h-screen flex flex-col items-center justify-center">

    <main class="bg-white p-8 rounded-lg shadow-md w-full max-w-2xl">

      <div id="form-component" {% if tabla is not none %}style="display: none;" {% endif %}>
        {% include './components/form.html' %}
      </div>

      <div id="table-component" {% if tabla is none %}style="display: none;" {% endif %}>
        {% include './components/table.html' %}
      </div>
      
      <footer id="footer" class="mt-8 text-center text-gray-600">
        <p>© {{ year }} All right reserved. by <a href="http://github.com/zelys" target="_blank" rel="noopener noreferrer" class="hover:text-blue-700">Zelys</a>.</p>
      </footer>

    </main>
  </body>
</html>


  