<h1 class="text-2xl font-bold mb-6 text-center">
  Simulador de amortización del crédito hipotecario
</h1>

{% if valor_uf %}
<h2 class="text-[#00A9A9] font-bold text-center text-xl">
  Valor UF hoy: $ {{'{:,.2f}'.format(valor_uf).replace(',', '.') }}
</h2>
<p id="fechaFormateada" class="mb-4 text-center italic font-normal"></p>
{% endif %}

<form method="POST" class="grid grid-cols-1 gap-4">
  <input 
  type="number" 
  step="0.01" 
  name="valor" 
  placeholder="Ingrese el monto del crédito (en UF)" 
  required min="100" max="20000" 
  oninvalid="this.setCustomValidity('Ingrese un valor entre 100 y 20,000 UF')" 
  oninput="this.setCustomValidity('')" 
  />
  <input 
  type="number" 
  step="0.01" 
  name="porcentaje" 
  placeholder="% de financiamiento" 
  required min="10" max="100" 
  oninvalid="this.setCustomValidity('Ingrese un porcentaje entre 10 y 100')" 
  oninput="this.setCustomValidity('')"
  />
  <input 
  type="number" 
  step="0.01" 
  name="tasa" 
  placeholder="Tasa de interes anual (%)" 
  required 
  min="0" max="20" 
  />

  <div class="flex flex-col space-y-1">
    <select id="plazo"
    name="plazo" 
    required class="h-11">
    <option disabled selected>Seleccione un plazo</option>
    {% for año in range(1, 41) %}
    <option value="{{ año }}">
      {{ año }} {% if año == 1 %}año{% else %}años{% endif %}
    </option>
    {% endfor %}
    </select>
  </div>

  <div class="flex flex-col space-y-2">
    <label class="font-semibold">Seleccione moneda:</label>
    <div class="flex space-x-4">
      <label class="inline-flex items-center">
        <input type="radio" name="tipo_moneda" value="uf" checked class="mr-2"/>
        <span>UF</span>
      </label>
      <label class="inline-flex items-center">
        <input type="radio" name="tipo_moneda" value="clp" class="mr-2" />
        <span>Pesos Chilenos</span>
      </label>
    </div>
  </div>

  <button
    type="submit"
    class="bg-[#00A9A9] text-white py-2 rounded hover:bg-[#006363] transition duration-200 cursor-pointer">
    Calcular
  </button>
</form>
